# required. DONT REMOVE THESE
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
customtkinter==5.2.2

# below packages can be modified according to the need 
affine==2.4.0
aioboto3==12.3.0
aiobotocore==2.11.2
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
altgraph==0.17.4
anyio==4.3.0
async-timeout==4.0.3
attrs==23.2.0
azure-core==1.30.1
beautifulsoup4==4.12.2
black==24.2.0
boto3==1.34.34
botocore==1.34.34
CairoSVG==2.7.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.2.1
cssselect2==0.7.0
cycler==0.12.1
darkdetect==0.8.0
defusedxml==0.7.1
docopt==0.6.2
exceptiongroup==1.2.0
fonttools==4.51.0
frozenlist==1.4.1
geographiclib==2.0
geopy==2.4.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.4
imagecodecs==2024.1.1
imageio==2.31.1
imageio-ffmpeg==0.4.8
isort==5.13.2
jmespath==1.0.1
Js2Py==0.74
kiwisolver==1.4.5
lxml==4.9.2
markdown-it-py==3.0.0
matplotlib==3.8.4
mdurl==0.1.2
multidict==6.0.5
mypy-extensions==1.0.0
numpy==1.25.0
opencv-python==4.7.0.72
packaging==23.1
pandas==2.0.2
pathspec==0.12.1
pefile==2023.2.7
Pillow==9.5.0
pipwin==0.5.2
platformdirs==4.2.0
psycopg2==2.9.9
pycparser==2.21
PyExifTool==0.5.6
Pygments==2.17.2
pyjsparser==2.7.1
pykml==0.2.0
pyparsing==3.1.2
PyPrind==2.11.3
pySmartDL==1.3.4
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.2
rasterio==1.3.9
requests==2.31.0
rich==13.7.1
s3transfer==0.10.1
shapely==2.0.1
six==1.16.0
sniffio==1.3.1
snuggs==1.4.7
soupsieve==2.4.1
SQLAlchemy==2.0.29
tifffile==2023.7.4
tinycss2==1.2.1
tomli==2.0.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==5.0.1
urllib3==2.0.3
webencodings==0.5.1
wrapt==1.16.0
yarl==1.9.4
